.container-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin-top: 30px;
}

.container-avatar img {
    border-radius: 50%;
}

.container-avatar h2 {
    font-size: 1.3em;
    font-weight: bold;
}