.start {
    width: 600px;
    margin: 8em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start h1 {
    color: cadetblue;
}

.start .btn-start {
    text-align: center;
    padding: 20px;
    width: 250px;
    background: #369BF9;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    margin: 20px;
    transition: .3s;
    cursor: pointer;
}


.start .btn-start:hover {
    background: #1986ec;
}